body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffe6f0;
}

.container {
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#yesBtn {
    background-color: #ff4d88;
    color: white;
}

#noBtn {
    background-color: #666;
    color: white;
    position: relative;
}
